@media (max-width: 1024px) {
    .fashion__cards{
        justify-content: center;
        gap: 20px;
    }

    .product__cards{
        justify-content: center;
        gap: 20px;
    }
}
@media (max-width: 880px) {
    .header__nav{
        flex-wrap: wrap;
        justify-content: center;
    }

    .header__logo{
        margin-right: 10px;
    }
}

@media (max-width: 713px) {
    .header__list{
        padding: 10px;
    }

    .footer__card-title{
        font-size: 24px;
    }
}


@media (max-width: 660px) {
    .header__content-title{
        font-size: 24px;
        text-align: center;
    }
}

@media (max-width: 621px) {
    .footer__cards{
        flex-wrap:wrap ;
        row-gap: 60px;
    }
}
@media (max-width: 480px) {
    .footer__cards{
        
        justify-content: center;
    }
}
@media (max-width: 515px) {
    .header__list{
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 10px;
    }


}
@media (max-width: 375px) {
    .fashion__title-title{
        font-size: 36px;
    }
}

